.emoji-vote-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .emoji-vote-container div {
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.2s;
  }
  
  .emoji-vote-container div:hover {
    transform: scale(1.2);
  }
  